ul {
    list-style-type: none;
    margin: 22px 0 0 0;
    padding: 0;
}
li {
    display: inline;
    font-family: "Arial", "Sans-Serif";
    font-size: 13px;
    
}
li.fright {
    float: right;
    padding-right: 15px;

}
li.fleft {
    padding-left: 15px;
}

li.rfooter {
    float: right;  
    padding-right: 15px;
}
li.footer {
    padding-left: 15px;
}

div.fnav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(237, 238, 239);

}

center {
    position: relative;
    top: 158px;
}

input[type=text] {
    padding: 13px ;
    box-sizing: border-box;
    border-radius: 25px;
    border-color: rgb(223, 225, 229);
    width: 550px;
}

img {
    padding-bottom: 25px;
    position: relative;
    left: 25px;
}


input[type=submit] {
    margin-top: 35px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: rgb(223, 225, 229);
    width: 120px;
}

li.footer, 
li.rfooter {
    position: relative;
    bottom: 10px;
    
    
}
input,
textarea,
button {
  border: 1px solid gray; 
}



li, input[type=submit] {
    color: rgb(95, 99, 104);
}

#signin {
    background-color: rgb(66, 133, 244);
    color: white;
    border-radius: 2px;
    padding: 5px 10px;
    border-color: rgb(66, 133, 244);
    position: relative;
    bottom: 5px;
    border: 1px rgb(66, 133, 244) solid;
}